.choice {
    color: cadetblue;
}

.circle {
    fill: slategray;
}

body {
    background-color: slategray;
}

#mastermind {
    display: flex;
}

.red, #pick0 {
    fill: hsl(0, 61%, 51%);
}

.yellow, #pick1 {
    fill: hsl(59, 61%, 51%);
}

.green, #pick2 {
    fill: hsl(121, 61%, 51%);
}

.cyan, #pick3 {
    fill: hsl(182, 61%, 51%);
}

.blue, #pick4 {
    fill: hsl(230, 61%, 51%);
}

.violet, #pick5 {
    fill: hsl(289, 61%, 51%);
}

.slategray {
    fill: slategray;
}

.black {
    fill: black;
}

.white {
    fill: white;
}

.picked {
    stroke-width: 5px;
}