.choice {
    color: cadetblue;
}

.circle {
    fill: hsl(234, 61%, 51%);
}

body {
    background-color: slategray;
}

#c0a3 {
    fill: hsl(0, 61%, 51%);
}

#c0a2 {
    fill: hsl(59, 61%, 51%);
}

#c0a1 {
    fill: hsl(121, 61%, 51%);
}

#c0a0 {
    fill: hsl(182, 61%, 51%);
}

#c1a0 {
    fill: hsl(230, 61%, 51%);
}

#c1a1 {
    fill: hsl(289, 61%, 51%);
}